/.vs/Dep'Gestion/v15/.suo
/.vs/Dep'Gestion/v15/Server/sqlite3/storage.ide-wal
/Dep'Gestion/bin/x64/Debug/App.xbf
/Dep'Gestion/bin/x64/Debug/AppX/App.xbf
/Dep'Gestion/bin/x64/Debug/AppX/Vues/AnneeVue.xbf
/Dep'Gestion/bin/x64/Debug/AppX/Vues/MainPage.xbf
/Dep'Gestion/bin/x64/Debug/AppX/Vues/PartieAnneeVue.xbf
/Dep'Gestion/bin/x64/Debug/AppX/entrypoint/Dep'Gestion.exe
/Dep'Gestion/bin/x64/Debug/AppX/vs.appxrecipe
/Dep'Gestion/bin/x64/Debug/Dep'Gestion.exe
/Dep'Gestion/bin/x64/Debug/Dep'Gestion.pdb
/Dep'Gestion/bin/x64/Debug/Vues/AnneeVue.xbf
/Dep'Gestion/bin/x64/Debug/Vues/MainPage.xbf
/Dep'Gestion/bin/x64/Debug/Vues/PartieAnneeVue.xbf
/Dep'Gestion/obj/x64/Debug/App.xbf
/Dep'Gestion/obj/x64/Debug/Dep'Gestion.csproj.CoreCompileInputs.cache
/Dep'Gestion/obj/x64/Debug/Dep'Gestion.csprojAssemblyReference.cache
/Dep'Gestion/obj/x64/Debug/Dep'Gestion.exe
/Dep'Gestion/obj/x64/Debug/Dep'Gestion.pdb
/Dep'Gestion/obj/x64/Debug/Vues/AnneeVue.xbf
/Dep'Gestion/obj/x64/Debug/Vues/MainPage.xbf
/Dep'Gestion/obj/x64/Debug/Vues/PartieAnneeVue.xbf
/Dep'Gestion/obj/x64/Debug/intermediatexaml/Dep'Gestion.exe
/Dep'Gestion/obj/x64/Debug/intermediatexaml/Dep'Gestion.pdb
*.vs
Dep\'Gestion/obj/*
Dep\'Gestion/bin/x64/Debug/
UpgradeLog.htm